* {
  box-sizing: border-box;
}
html {
  height: 100%;
  display: flex;
  flex-direction: column;
}
details {
    border: 2px solid #fff000;
    color: #ff8404
    background-color: #000
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", sans-serif;
    justify-content: center;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}
summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}
details[open] {
    padding: 0.5em;
    justify-content: center;
}
details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}
body {
  background-color: #000000;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto",
    "Helvetica Neue", "Ubuntu", sans-serif;
  justify-content: center;
  line-height: 18px;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: opacity 0.8s;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
footer,
input,
textarea,
.copyright,
.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Helvetica Neue", "Ubuntu", monospace;
  line-height: 125%;
}
h1 {
  color: #ff8404;
  font-size: 34px;
  font-family: -apple-system, BlinkMacSystemFont, "Lucida Console", "Roboto",
    "Helvetica Neue", "Ubuntu", monospace;
  font-weight: bold;
  margin: 30px;
}
h2 {
  color: #ff8404;
  font-size: 28px;
  font-weight: bold;
  margin: 16px 0 8px 0;
}
h3 {
  color: #3b3b3b;
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0 4px 0;
}
h4 {
  color: #3b3b3b;
  font-size: 18px;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 4px;
}
h5 {
  color: #3b3b3b;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
}
h6 {
  color: #ff8404;
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 4px;
}
a {
  color: #ff8404;
  text-decoration: none;
}
.outlineButton,
.button,
button {
  background-color: #194b7d;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 16px;
  white-space: nowrap;
}
footer {
  color: #7c7c7c;
  margin: 40px;
}
footer a {
  font-weight: bold;
}
.pageContainer {
  padding: 1px 1px;
  background-color: #000;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  max-width: 900px;
  width: 100%;
  margin: 96px auto;
}
.headline {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline span {
  background-color: #000;
  border-radius: 5px;
  padding: 1px;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.reportContainer {
  margin: 5px auto;
  width: 100%
}
.statusContainer {
  border: 5px outset #ff8200;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
  padding: 12px;
}
.statusContainer + .statusContainer {
  margin-top: 30px;
}
.statusStreamContainer {
  display: flex;
  justify-content: flex-start;
}
.statusSquare {
  border-radius: 20px;
  height: 20px;
  min-width: 10px;
  width: 100%;
}
.statusSquare + .statusSquare {
  margin-left: 6px;
}
.sectionUrl {
  font-size: 40px;
  color: #7c7c7c
}
.statusTitle {
  text-transform: uppercase;
}
.statusHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 2px;
  text-transform: uppercase;
  text-shadow: 0.5px 0.5px #7c7c7c;
}
.statusSubtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
  text-transform: lowercase;
  color: #7c7c7c;
}
.statusHeadline {
  color: #7c7c7c;
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 12px;
}
.statusUptime {
  flex: 1;
  text-align: right;
  color: #7c7c7c;
  font-size: 12px;
}
.uptimeContainer {
  color: #999;
  display: flex;
  margin-top: 8px;
  font-size: 12px;
}
.uptimeContainer hr {
  border: none;
  border-top: 1px dashed #eee;
  width: 100%;
  margin: 10px;
}
.success {
  background-color: #2596be;
  box-shadow: 0 0 8px 1px #4cae4f9a;
  color: #fff;
}
.failure {
  background-color: #f44336;
  box-shadow: 0 0 8px 1px #f443369a;
  color: #fff;
}
.nodata {
  background-color: #f8f8f8;
  color: #7f8d92;
}
.partial {
  background-color: #ff9800;
  box-shadow: 0 0 8px 1px #ff98009a;
  color: #fff;
}
.tooltip {
  background-color: #000;
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  line-height: 18px;
  padding: 16px;
  position: absolute;
  text-align: center;
  z-index: 100;
  width: 240px;
  transition: opacity 0.7s;
}
.tooltip .tooltipArrow {
  position: absolute;
  bottom: 100%;
  width: 4px;
  text-align: center;
  border: 4px solid transparent;
  border-bottom-color: #fff;
  left: 50%;
  margin-left: -2px;
}
.tooltip .tooltipDateTime {
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.tooltip .tooltipKey {
  color: #fff;
  font-size: 12px;
}
.tooltip .tooltipDescription {
  margin-top: 12px;
  font-size: 14px;
  color: #fff;
}
.tooltip #tooltipStatus {
  padding: 4px 8px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  margin-top: 6px;
  display: inline-block;
  text-transform: uppercase;
}
.tooltip hr {
  border: none;
  border-top: 1px solid #ededed;
  margin-top: 16px;
}

@media screen and (max-width: 800px) {
  .pageContainer {
    padding: 30px 20px;
    margin: 0 auto 40px auto;
	background-color: #000;
  }

  .statusHeader,
  .statusSubtitle {
    display: block;
  }

  .statusHeadline,
  .sectionUrl,
  .statusUptime {
    margin-left: 0;
    margin-top: 8px;
    text-align: left;
  }

  .statusTitle,
  .statusHeadline {
    display: inline-block;
  }

  .statusSquare + .statusSquare {
    margin-left: 1px;
  }

  .statusSquare {
    min-width: 4px;
    width: 100%;
  }
}
